* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden,
}
/*header */
#header {
	background-color: #f6f2f2;
	padding-bottom: 20px;
}
.container {
	width: 1250px;
	margin: 0 auto;
}

nav {
	padding-top: 30px;
	margin-bottom: 100px;

}
#nav {
	text-align: center;
	
	background: #313030;
	margin-right: 0px;
	margin-left: 0;
}
#nav li {
	display: inline-block;
}

.nav-links {
	display: block;
	padding: 33px 20px;
	color: white;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 600;
	text-decoration: none;
	transition: 0.4s;
}
.nav-links:hover {
	text-decoration: none;
	background: red;
	color: white;
}

 .active {
	background: red;
}

.header_information h1 {
	text-transform: uppercase;
	font-size: 3em;
	letter-spacing: 2px;
	font-weight: 700;
	margin-bottom: 30px;
}

.header_information p {
	letter-spacing: 1px;
	margin-bottom: 60px;
}

#button a {
	display: inline-block;
	text-align: center;
	line-height: 55px;
	color: white;
	border-radius: 5px;
	background: red;
	width: 230px;
	height: 55px;
	transition: 0.6s;
	font-family: sans-serif;
	font-weight: 600;
}

#button a:hover {
	text-decoration: none;
	/* background: #ff00003b;
	color: red; */
}

.youtube {
	padding-bottom: 110px;
}

.anchor {
	margin: 0 auto;
}
.anchor i {
	font-size: 50px;
}
.anchor a {
color: black;
transition: 0.6s;
}
.anchor a:hover {
	color: red;
}
/* boxes */

.block-2 {
	margin-top: 110px;
}

.block-2 h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.block-2 p {
	margin-bottom: 90px;
}

.block-2-button {
	text-align: center;
	margin-bottom: 230px;

}

.block-2-button a {
	width: 225px;
	height: 55px;
	border: 2px solid red;
	line-height: 50px;
	border-radius: 7px;
	display: block;
	color: red;
	font-weight: 600;
	transition: 0.6s;
}

.block-2-button a:hover {
	text-decoration: none;
	color: white;
	background: red;

}

.column-box i {
	margin-top: 10px;
	font-size: 40px;
	color: red;
	margin-bottom: 30px;
}

.column-1 h5 {
	margin-bottom: 20px;
}

.column-1 p {
	margin-bottom: 50px;
}


.border {
	width: 100%;
	margin-bottom: 105px;
}

.block-3-title {
	text-align: center;
	margin-bottom: 30px;
}

.block-3 p {
	text-align: center;
	 padding: 0px 220px 0px 220px;
	 margin-bottom: 30px;
	}

.line { 
background: red;
height: 2px;
margin: 0 auto;
width: 130px;
margin-bottom: 90px;
 }

.block-3-links {
	margin-bottom: 60px;
	text-align: center
}
.block-3-links li {
	display: inline-block;
	margin: 0 25px;
}

.block-3-link {
	font-weight: 600;
	color: #737373;
	transition: 0.6s;
}

.block-3-link:hover {
	color: red;
	text-decoration: none;
}
 .active-link {
	color: red;
}

.pictures img {
	margin-bottom: 15px;
	width: 255px;
}

.pictures {
	margin-bottom: 140px;
}